@import url('https://fonts.googleapis.com/css2?family=Poltawski+Nowy:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

* {

    font-family: 'Poltawski Nowy', serif;
    font-size: 3vh;
}

/* Navbar section*/
#navbar-section {
    background-color: #ffffff;
}

/* main content section */
#main-content-section {
    background-color: #e6e6fa;
}

#bio {
    padding-top: 120px;
}

/* Portfolio section  */
#portfolio-section {
    background-color: white;
}

#card-main {
    position: relative;
    text-align: center;
}

#card-main img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.card-title {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.5s;
}

#card-body {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: rgb(255, 255, 255);
    background-color: transparent;
    transition: 1s;
}

#card-main:hover .card-title {
    opacity: 1;
}

#card-main:hover #card-body {
    display: block;
    transition: 1s;
}

#card-main img {
    transition: 1s;
}

#card-main:hover img {
    /* filter: blur(2px); */
    filter: brightness(0.5);
}

/* Form Section */
#form-section {
    background-color: #e6e6fa;
}

#form-main #form-img {
    border-radius: 10px 0% 0% 10px;
}

#img-one,
#img-two {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#form-img {
    position: relative;
    transition: 1s;
    overflow: hidden;
}

#img-two {
    position: absolute;
    top: 100%;
    left: 0;
    transition: 1.5s;
}

#form-img:hover #img-two {
    visibility: visible;
    top: 0;
}

.act-form {
    background-color: #9574bd;
    height: 100%;
    border-radius: 0% 10px 10px 0%;
}

/* Contact Section  */
#contact-section {
    background-color: #ffffff;
}

#social {
    padding: 10px;
    color: rgb(255, 255, 255);
}

#social .svg-icon {
    width: 10%;
    height: auto;
    transition: fill 0.3s;
    transition: 0.3s;
}

#social:hover .svg-icon {
    fill: #9574bd;
    transform: translateY(-5px);
}

.read-more {
    opacity: 0.5;
    transition: 0.5s;
    color: black;
}

.read-more:hover {
    opacity: 1;
    color: black;
    font-weight: bolder;
}

/* About Page and Blog*/
#about-section,
#list-TV-Movie {
    background-color: #e6e6fa;
    height: 100vh;
}

a {
    color: rgb(0, 0, 0);
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: rgb(255, 4, 234);
    background-color: transparent;
    text-decoration: none;
}

.accordion-item .accordion-button {
    background-color: rgb(238, 238, 238);
}

@media (min-width: 992px) {
    /* #form-main .row {
            padding-left: 0px !important;
            padding-right: 0px !important;
            margin-left: 0px !important;
            margin-right: 0px !important;
        } */
}

@media (min-width: 768px) and (max-width: 991px) {
    #portfolio-section .row {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    #form-main .row {
        padding-left: 0px !important;
        padding-right: 0px !important;
        margin-left: 0px !important;
        margin-right: 0px !important;
    }
}

@media (max-width: 767px) {
    h1 {
        font-size: larger;
    }
    h2 {
        font-size: larger;
    }
    p {
        font-size: medium;
    }

    /* navbar and main-content section */
    #navbar-section#div,
    #main-content-section#div {
        padding: 0px 10px 0px 10px;
    }

    #bio {
        padding-top: 10px;
    }

    /* portfolio-section */
    #portfolio-section .row {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    #form-main .row {
        padding-left: 0px !important;
        padding-right: 0px !important;
        margin-left: 0px !important;
        margin-right: 0px !important;
    }
/* exp */
#img-one,
#img-two {
    display: none;
}
.act-form {
    color: rgb(0, 0, 0);
    background-color: transparent;
    height: 100%;
    border-radius: 10px 10px 10px 10px;
    background-image: url("../images/S/e5109b79-c4c9-4721-a20f-12443c06174a.jpg");
    background-size: contain;
    background-repeat: no-repeat ;
}
.act-form input,textarea,select{
    opacity: 0.2;
}
/* exp end */
}


/* @media (max-width: 576px) { */
    /* #portfolio-section .row div:nth-last-child(even) {
        margin-left: 40% !important;
    }
        #portfolio-section .row div a {
            overflow: hidden;
    
        }

    #portfolio-section .row div:nth-last-child(odd) {
        margin-right: 40% !important;
    } */
/* } */