@import url('https://fonts.googleapis.com/css2?family=Poltawski+Nowy:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap');

* {

    font-family: 'Poltawski Nowy', serif;
    font-size: 3vh;
}

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
    display: none;
}

h1 span {
    font-size: calc(1.375rem + 1.5vw);
    color: yellow;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

/* Navbar section*/
#navbar-section {
    background-color: #ffffff;
}

.navbar-nav .nav-link {
    /* background-color: #ffffff; */
    margin-left: 5px;
    margin-right: 5px;
    border-radius: 10px;
    font-weight: bold;
    transition: 0.3s;
    color: black;
}

.navbar-nav .nav-link.active {
    background-color: #123;
    color: rgb(255, 255, 255);
    /* box-shadow: 0 0 10px 5px #123; */

}

.nav-link:hover {
    background-color: #123;
    color: yellow;
    box-shadow: 0 0 10px 5px #123;
}

.nav-link.active:hover {
    background-color: #123;
    color: yellow;
    box-shadow: 0 0 10px 5px #123;
}

/* Navbar section ends*/
/* main content section */
#main-content-section {
    background-color: #123;
    color: #ffffff;
}

#bio {
    padding-top: 120px;
}

/* main content section ends */
/* Portfolio section  */
#portfolio-section {
    background-color: white;
}

#card-main {
    position: relative;
    text-align: center;
}

#card-main img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: 0.5s;
}

#card-body {
    width: 100%;
    position: absolute;
    /* background-color: red; */
    color: #ffffff;
    top: 95%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.5s;
    padding: 0;

}

#card-body .card-title {
    margin-bottom: 0;
}

#card-main:hover .card-body {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* background-color: #123; */
    color: yellow;
}

#card-main:hover img {
    /* filter: brightness(0.5); */
    filter: blur(3px);
    box-shadow: 0 0 20px 5px yellow;
}

/* Portfolio section ends */
/* Form Section */
#form-section {
    background-color: #123;
}

#form-main #form-img {
    border-radius: 10px 0% 0% 10px;
}

#img-one,
#img-two {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#form-img {
    position: relative;
    transition: 1s;
    overflow: hidden;
}

#img-two {
    position: absolute;
    top: 100%;
    left: 0;
    transition: 1.5s;
}

#form-img:hover #img-two {
    visibility: visible;
    top: 0;
}

.act-form {
    background-color: #ffffff;
    /* background: url("../images/main-content/170151987a666331667213570cb4a650.jpg"); */
    /* background: url("https://c0.wallpaperflare.com/preview/793/1023/818/background-crumpled-crushed-garbage.jpg"); */
    height: 100%;
    border-radius: 0% 10px 10px 0%;
    color: rgb(0, 0, 0);
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#form-content .btn {
    background-color: #123;
    color: rgb(255, 255, 255);
    transition: 0.3s;
}

#form-content .btn:hover {
    background-color: #123;
    color: yellow;
    /* box-shadow: none; */
    box-shadow: 0 0 10px 5px #123;
}

/* Portfolio section ends */

/* Reviews Section */
#reviews-section {}

.review-container {
    white-space: nowrap;
    overflow: hidden;
}

.review-container .logo {
    display: inline-block;
}

.review {
    color: #fff;
    margin-left: 60px;
    white-space: normal;
    background-color: #123;
    border: black 5px;
    width: 600px;
    min-height: 300px;
    border-radius: 15px;
}

.review-slide {
    position: relative;
    margin: 50px;

}

.stars,
.review-title,
.main-review,
.review-img,
.user_info {
    position: absolute;
}

.review-img {
    border-radius: 50%;
    width: 90px;
    height: 90px;
    object-fit: cover;
    top: -45px;
    left: -95px;
}

.user_info p{
    margin-top: 3px;
}

.r_name {
    font-size: xx-large;
}

.r_occupation {
    font-size: small;
    margin-left: 5px;
}

.review-title {
    margin-top: 60px;
}

.review-title h3 {
    font-size: larger;
}

.main-review {
margin-top: 130px;
}
.main-review p{
    font-size: medium;
}
.stars {
    top: 25px;
    right: -30px;
}

.logos {
    overflow: hidden;
    /* padding: 60px 0px; */
    background: white;
    white-space: nowrap;
}

.logos:hover .logos-slide {
    animation-play-state: paused;
}

.logos-slide {
    display: inline-block;
    animation: 10s slide infinite linear;
}

@keyframes slide {
     from {
         transform: translateX(0);
     }

     to {
         transform: translateX(-100%);
     }
 }

 .review-button{
    float: right;
 }
  .review-button .btn{
    background-color: #123;
  }
/* Reviews Section ends*/
/* Contact Section  */
#contact-section {
    background-color: #123;
    color: #ffffff;
}

#social {
    padding: 10px;
    color: rgb(255, 255, 255);
}

.svg-btn {
    padding-top: 5%;
}

#social .svg-icon {
    width: 10%;
    height: auto;
    transition: fill 0.3s;
    transition: 0.3s;
}

#social:hover .svg-icon {
    fill: yellow;
    transform: translateY(-5px);
}

.read-more {
    opacity: 0.5;
    transition: 0.5s;
    color: rgb(255, 255, 255);
}

.read-more:hover {
    opacity: 1;
    color: #fff;
    font-weight: bolder;
}

/* Contact Section  ends*/

/* About Page and Blog*/
#about-section,
#list-TV-Movie {
    background-color: #123;
    min-height: 100vh;
    color: #ffffff;
}

a {
    color: rgb(0, 0, 0);
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: rgb(255, 4, 234);
    background-color: transparent;
    text-decoration: none;
}

.accordion-item .accordion-button {
    background-color: rgb(238, 238, 238);
}

/* About Page and Blog ends */
@media (min-width: 992px) {
    /* #form-main .row {
            padding-left: 0px !important;
            padding-right: 0px !important;
            margin-left: 0px !important;
            margin-right: 0px !important;
        } */
}

@media (min-width: 768px) and (max-width: 991px) {
    #portfolio-section .row {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    #form-main .row {
        padding-left: 0px !important;
        padding-right: 0px !important;
        margin-left: 0px !important;
        margin-right: 0px !important;
    }

    #social {
        padding: 8px;
        color: rgb(255, 255, 255);
    }
}

@media (max-width: 767px) {
    h1 {
        font-size: larger;
    }

    h2 {
        font-size: larger;
    }

    p {
        font-size: medium;
    }

    p a {
        font-size: medium;
    }

    /* navbar and main-content section */
    #navbar-section#div,
    #main-content-section#div {
        padding: 0px 10px 0px 10px;
    }

    #bio {
        padding-top: 10px;
    }

    /* portfolio-section */
    #portfolio-section .row {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    #form-main .row {
        padding-left: 0px !important;
        padding-right: 0px !important;
        margin-left: 0px !important;
        margin-right: 0px !important;
    }

    /* exp */
    #img-one,
    #img-two {
        display: none;
    }

    .act-form {
        color: rgb(0, 0, 0);
        background-color: transparent;
        height: 100%;
        border-radius: 10px 10px 10px 10px;
        background-image: url("../images/S/e5109b79-c4c9-4721-a20f-12443c06174a.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .act-form div.input-field {
        opacity: 0.5;
    }

    /* exp end */

    #social {
        padding: 10px;
        color: rgb(255, 255, 255);
    }

    #social .svg-icon {
        width: 7%;
        height: auto;
        transition: fill 0.3s;
        transition: 0.3s;
    }
}


/* @media (max-width: 576px) { */
/* #portfolio-section .row div:nth-last-child(even) {
        margin-left: 40% !important;
    }
        #portfolio-section .row div a {
            overflow: hidden;
    
        }

    #portfolio-section .row div:nth-last-child(odd) {
        margin-right: 40% !important;
    } */
/* } */